.workouts {
  height: 100%;
  display: flex;
  width: 70%;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.workouts__total-volume {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.workouts__frequency {
  font-size: var(--font-size-small);
}

.workouts__total-volume > :first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workouts__total-volume > :first-child > div {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);
  cursor: pointer;
}

.workouts-total-volume__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  background-color: var(--color-surface);
  border-radius: var(--radius-small);
}

.workouts-total-volume__list > p {
  font-size: var(--font-size-small);
  color: var(--color-text-disabled);
}

.workouts-total-volume__list-item {
  display: flex;
  font-size: var(--font-size-xsmall);
  align-items: center;
  gap: var(--spacing-sm);
  flex: 0 1 130px;
}

.disabled {
  display: none;
}

.workouts-total-volume__list-item > span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  padding: var(--spacing-sm);
  background-color: var(--color-surface-variant);
  border-radius: var(--radius-small);
}

.workouts-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.workouts-container__controls {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding-bottom: var(--spacing-md);
}

.workouts-container__exercises {
  display: flex;
  flex: 1;
  background-color: var(--color-surface);
  border-radius: var(--radius-small);
  padding: var(--spacing-md);
  min-height: 0;
  flex-direction: column;
  gap: var(--spacing-md);
  height: 100%;
  max-height: 600px;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .workouts {
    width: 100%;
  }
}

footer {
  display: flex;
  position: sticky;
  bottom: 0;
  z-index: 999;
  flex-direction: column;
  gap: var(--spacing-sm);
  background-color: var(--color-bg);
  padding: var(--spacing-md) 0;
}
