.workouts {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.workouts > div {
  min-height: 100%;
  display: flex;
  width: 100%;
  padding: var(--spacing-lg);
  flex-direction: row;
  gap: var(--spacing-lg);
}

h1 {
  font-size: var(--font-size-large);
}

/* START VAN MAIN CONTENT */

.workouts-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 2 1 auto;
  background-color: var(--color-surface);
  padding: var(--spacing-md);
  border-radius: var(--radius-small);
}

.workouts__workout-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-md);
}

.workouts__workout-name-container > h4 {
  margin: 0 var(--spacing-md);
  white-space: nowrap;
}

.workouts__workout-name-container > hr {
  width: 100%;
}

.workouts__minimize-wrapper {
  display: flex;
  color: var(--color-text-secondary);
  padding: 0 var(--spacing-md);
  font-size: var(--font-size-small);
  justify-content: flex-start;
}

.workouts__minimize-wrapper > span {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: var(--spacing-sm);
}

.workouts__minimize-wrapper > span:hover {
  color: var(--color-accent-secondary);
}

.workouts-container__exercises {
  display: flex;
  flex: 1;
  background-color: var(--color-surface);
  border-radius: var(--radius-small);
  padding: var(--spacing-md);
  min-height: 0;
  flex-direction: column;
  gap: var(--spacing-md);
  max-height: 600px;
  overflow-y: scroll;
}

.no-exercises-message {
  font-size: var(--font-size-small);
  color: var(--color-text-disabled);
}

@media (max-width: 1024px) {
  .workouts > div {
    flex-direction: column;
    padding: var(--spacing-xs);
    gap: var(--spacing-md);
  }

  h1 {
    margin: var(--spacing-sm);
  }

  aside {
    flex: 0;
  }
}
