.workouts {
  height: 100%;
  display: flex;
  width: 70%;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.workouts-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.workouts-container__controls {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding-bottom: var(--spacing-md);
}

.workouts-container__exercises {
  display: flex;
  flex: 1;
  background-color: var(--color-surface);
  border-radius: var(--radius-small);
  padding: var(--spacing-md);
  min-height: 0;
  flex-direction: column;
  gap: var(--spacing-md);
  height: 100%;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .workouts {
    width: 100%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding-top: var(--spacing-md);
}
